* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	background-color: white;
	color: black;
}

header {
	height: 70px;
	color: white;
	border-bottom: 1px solid rgb(31, 31, 31);
}

header .container {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	display: flex;
	
	align-items: center;
}

.container {
	max-width: 80%;
	overflow: hidden;
	margin: auto;
}

.state {
	margin-top: 2rem;
	/* color: white; */
}

.status-dis {
	font-weight: lighter;
	color: lightcoral;
	font-size: 1.5rem;
	border-bottom: 3px solid lightcoral;
}

.status-connected {
	font-weight: lighter;
	color: lightgreen;
	font-size: 1.5rem;
	border-bottom: 3px solid lightgreen;
}

.header-title {
	font-weight: lighter;
	font-size: 1.5rem;
	color: darkgray;
	margin-left: 15px;
}

.tab-list {  border-bottom: 1px solid #ccc;
	padding-left: 0;
  }
  
  .tab-list-item {
	display: inline-block;
	list-style: none;
	margin-bottom: -1px;
	padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
	background-color: white;
	border: solid #ccc;
	border-width: 1px 1px 0 1px;
  }

  